<section class="container--proyectos" >
  <div class="divider">
    <h4 class="titulo--section" id="proyectos">Proyectos</h4>
  </div>
  <div class="card--container">
    <!-- Proyecto precios crypto -->

    <div class="card--img"></div>

    <div class="card--texto">
      <h6 class="titulo--proyecto">Tabla de precios criptomendas</h6>
      <p class="texto--proyecto">
        Este proyecto tiene como objetivo crear una aplicación web que posea una
        tabla con precios, volumen total de 24 horas y porcentaje de cambio de
        precio de las criptomonedas mas populares. Los datos son extraidos de
        una API.
      </p>
      <div class="container--tecnologia">
        <p class="texto--proyecto">Hecho con:</p>
        <a href="https://angular.io/" target="_blank">
        <div class="tecnologia angular">
            <img
              src="../../../assets/angular.webp"
              alt="icono angular js"
              class="angular--img"
            />
          </div>
        </a>
        <a href="https://www.typescriptlang.org/" target="_blank">
        <div class="tecnologia ts">
            <img
              src="../../../assets/typescript.webp"
              alt="icono typescript"
              class="tecnologia--img"
            />
          </div>
        </a>
        <a href="https://material.angular.io/" target="_blank">
        <div class="material tecnologia">
            <img
              src="../../../assets/angular-material.svg"
              alt="icono angular material"
              class="material--img"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="botones--proyectos">
    <a href="https://github.com/matiaslenci/precios-cryptomonedas" target="_blank">
    <button class="btn">
      Link al repositorio
      <img src="../../../assets/bxl-github.png" alt="github" class="icon" />
    </button>
    </a>
    <a href="https://precios-cryptomonedas.vercel.app/home" target="_blank">
    <button class="btn">
      Web
      <img src="../../../assets/bx-navigation.png" alt="navegar" class="icon" />
    </button>
    </a>
  </div>
  <!-- Proyecto proactiva ingenieria -->
  <div class="card--container__reverse">
    <div class="card--img__reverse"></div>
    <div class="card--texto__reverse">
      <h6 class="titulo--proyecto">Proactiva Ingeniería</h6>
      <p class="texto--proyecto">
        Proyecto freelance sobre vistas de sitio web para la empresa Proactiva ingeniería
      </p>
      <div class="container--tecnologia">
        <p class="texto--proyecto">Hecho con:</p>
        <a href="https://material.angular.io/" target="_blank">
        <div class="tecnologia js">
            <img src="../../../assets/js.webp" alt="logo javascript" class="js--img" />
          </div>
        </a>
        <a href="https://getbootstrap.com/" target="_blank">
        <div class="tecnologia bt">
            <img src="../../../assets/bootstrap.webp" alt="logo bootstrap" class="bt--img" />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="botones--proyectos__reverse">
    <a href="https://github.com/matiaslenci/proactivaingenieria" target="_blank">
    <button class="btn">
      Link al repositorio
      <img src="../../../assets/bxl-github.png" alt="github" class="icon" />
    </button>
    </a>
    <a href="https://matiaslenci.github.io/proactivaingenieria/" target="_blank">
    <button class="btn">
      Web
      <img src="../../../assets/bx-navigation.png" alt="navegar" class="icon" />
    </button>
    </a>
  </div>
</section>
