<div class="container--proyectos">
  <div class="divider">
    <h4 class="titulo--section">Proyectos</h4>
  </div>
  <div class="card--container">
    <!-- Proyecto precios crypto -->

    <div class="card--img"></div>

    <div class="card--texto">
      <h6 class="titulo--proyecto">Tabla de precios criptomendas</h6>
      <p class="texto--proyecto">
        Este proyecto tiene como objetivo crear una aplicación web que posea una
        tabla con precios, volumen total de 24 horas y porcentaje de cambio de
        precio de las criptomonedas mas populares. Los datos son extraidos de
        una API.
      </p>
      <div class="container--tecnologia">
        <p class="texto--proyecto">Hecho con:</p>
        <div class="tecnologia angular">
          <img src="../../../assets/angular.webp" alt="" class="angular--img" />
        </div>
        <div class="tecnologia ts">
          <img
            src="../../../assets/typescript.webp"
            alt=""
            class="tecnologia--img"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="botones--proyectos">
    <button class="btn">Link al repositorio</button>
    <button class="btn">Web</button>
  </div>
</div>
