.container--proyectos{
    display: flex;
    flex-direction: column;
    padding-top:18rem ;
    padding-bottom: 12rem;
}

.divider{
    border-bottom: 2px solid white;
}

.titulo--section{
    color: white;
    font-size: 36px;
    font-weight: 600;
    padding-bottom:1rem ;
}
