<header class="header">
  <div class="container--header">
    <div class="container--texto">
      <p class="presentacion">Hola, soy</p>
      <h1 class="nombre">Matias Lenci</h1>
      <h2 class="rol">Desarrollador Frontend</h2>
      <p class="descripcion">
        Soy apasionado por el aprendizaje de nuevas tecnologías y lo considero
        como constitutivo en mi vida. Por ese motivo, estoy en busca de nuevos
        proyectos desafiantes e innovadores que favorezcan mi crecimiento
        profesional.
      </p>
    </div>
    <div class="container--img">
      <img
        src="./../../../assets/fotoperfil-cuadrado.JPG"
        alt=""
        class="img--header"
      />
    </div>
  </div>
  <div class="botones--header">
    <a
      href="https://www.linkedin.com/in/matias-lenci-228828186/"
      target="_blank"
    >
      <button class="btn" id="btn--ln">Perfil de Linkedin</button>
    </a>
    <a
      href="https://drive.google.com/file/d/1oGvTmbScF3PGeH5aGZA5dXxwaM6fZl6X/view?usp=sharing"
    >
      <button class="btn" id="btn--cv">Descargar CV</button>
    </a>
  </div>
</header>
