<div class="container--contacto" id="contacto">
  <div class="divider">
    <h4 class="titulo--section">Contacto</h4>
  </div>

  <p class="texto">
    Si esta interesado en comunicarse conmigo pongase en contacto.
  </p>
  <div class="botones--contacto">
    <a href="mailto:matiaslenci@gmail.com" target="_blank">
      <img src="../../../assets/bx-envelope.svg" alt="" />
    </a>
    <a href="https://github.com/matiaslenci" target="_blank">
      <img src="../../../assets/bxl-github.svg" alt="" />
    </a>
    <a
      href="https://www.linkedin.com/in/matias-lenci-228828186/"
      target="_blank"
    >
      <img src="../../../assets/bxl-linkedin-square.svg" alt="" />
    </a>
  </div>
</div>
