<div class="container--tecnologias">
  <div class="container--texto">
    <div class="tecnologia angular">
      <img src="../../../assets/angular.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Angular</p>
  </div>
  <div class="container--texto">
    <div class="tecnologia js">
      <img src="../../../assets/js.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Javascript</p>
  </div>
  <div class="container--texto">
    <div class="tecnologia css">
      <img src="../../../assets/CSS.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Css</p>
  </div>
  <div class="container--texto">
    <div class="tecnologia html">
      <img src="../../../assets/HTML.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Html</p>
  </div> 
  <div class="container--texto">
    <div class="tecnologia ts">
      <img src="../../../assets/typescript.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Typescript</p>
  </div>
  <div class="container--texto">
    <div class="tecnologia git">
      <img src="../../../assets/git.webp" alt="" />
    </div>
    <p class="texto--tecnologia">Git</p>
  </div>
</div>
