<article class="container--tecnologias">
  <a
    href="https://community.open-bootcamp.com/user/matiaslenci/certificaciones/4b400df0-875d-466b-97c5-23e08ec1ddae"
    target="_blank"
  >
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia angular">
        <img src="../../../assets/angular.webp" alt="logo angular" id="angular--img" />
      </div>
      <p class="texto--tecnologia">Angular</p>
    </div>
  </a>
  <a href="https://community.open-bootcamp.com/user/matiaslenci/certificaciones/680c6704-27b7-49f0-beb6-a7d0131ef475" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia js">
        <img src="../../../assets/js.webp" alt="logo javascript" />
      </div>
      <p class="texto--tecnologia">Javascript</p>
    </div>
  </a>
  <a href="https://drive.google.com/file/d/1Peg0FZElwj2ZG133abDa6tAVawsxwYb1/view" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia css">
        <img src="../../../assets/CSS.webp" alt="logo css" />
      </div>
      <p class="texto--tecnologia">Css</p>
    </div>
  </a>
  <a href="https://drive.google.com/file/d/1Peg0FZElwj2ZG133abDa6tAVawsxwYb1/view" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia html">
        <img src="../../../assets/HTML.webp" alt="logo html" />
      </div>
      <p class="texto--tecnologia">Html</p>
    </div>
  </a>
 <!--  <a href="" target="_blank"> -->
    <div class="container--texto" id="nopointer">
      <div class="certificado" id="disable">
        <p>Certificado</p>
      </div>
      <div class="tecnologia ts">
        <img src="../../../assets/typescript.webp" alt="logo typescript" />
      </div>
      <p class="texto--tecnologia">Typescript</p>
    </div>
<!--   </a> -->
<!--   <a href="" target="_blank"> -->
    <div class="container--texto" id="nopointer">
      <div class="certificado" id="disable">
        <p>Certificado</p>
      </div>
      <div class="tecnologia git">
        <img src="../../../assets/git.webp" alt="logo git" />
      </div>
      <p class="texto--tecnologia">Git</p>
    </div>
<!--   </a> -->
</article>
