.container--tecnologias {
  padding: 65px 0px 0px;
  display: flex;
  justify-content: space-between;

  img {
    height: 50px;
  }
}

.tecnologia {
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 100%;
  padding: 24px;

 
}

.angular {
    background-color: rgba(198, 5, 43, 0.21);
  }

  .js {
    background-color: rgba(238, 216, 28, 0.21);
  }

  .ts {
    background-color: rgba(42, 105, 240, 0.21);
  }

  .css {
    background-color: rgba(42, 105, 240, 0.21);
  }

  .html {
    background-color: rgba(239, 101, 37, 0.21);
  }

  .git {
    background-color: rgba(239, 101, 37, 0.21);
  }