.container--tecnologias {
  padding: 40px 0px 0px;
  display: flex;
  justify-content: space-between;

  img {
    height: 50px;
  }
  

}

#angular--img{
  height:75px;

}


.container--texto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.texto--tecnologia {
  font-size: 22px;
  font-weight: 300;
  color: #ffff;
  text-align: center;
  cursor: default;
}


.tecnologia {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 24px;
}
//Animacion imagenes
.container--texto:hover img{
  transition: transform 0.4s;
  transform: scale(1.2);
}


//Animación movimiento letras

.container--texto:hover .certificado {
  animation: sh0 0.5s ease-in-out both;
}


@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

//div de colores

.angular {
  background-color: rgba(198, 5, 43, 0.21);
}

.js {
  background-color: rgba(238, 216, 28, 0.21);
}

.ts {
  background-color: rgba(42, 105, 240, 0.21);
}

.css {
  background-color: rgba(42, 105, 240, 0.21);
}

.html {
  background-color: rgba(239, 101, 37, 0.21);
}

.git {
  background-color: rgba(239, 101, 37, 0.21);
}

//Certificaciones
.certificado {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.certificado {
  --primary-color: #111827;
  --hovered-color: #ffff;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.certificado p {
  margin: 0;
  position: relative;
  font-size: 18px;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--primary-color)
}

.certificado::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.certificado p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "Certificado";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.container--texto:hover::after .certificado{
  width: 100%;
}

.container--texto:hover p::before {
  width: 100%;
}
