<div class="container--tecnologias">
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia angular">
        <img src="../../../assets/angular.webp" alt="" id="angular--img" />
      </div>
      <p class="texto--tecnologia">Angular</p>
    </div>
  </a>
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia js">
        <img src="../../../assets/js.webp" alt="" />
      </div>
      <p class="texto--tecnologia">Javascript</p>
    </div>
  </a>
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia css">
        <img src="../../../assets/CSS.webp" alt="" />
      </div>
      <p class="texto--tecnologia">Css</p>
    </div>
  </a>
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia html">
        <img src="../../../assets/HTML.webp" alt="" />
      </div>
      <p class="texto--tecnologia">Html</p>
    </div>
  </a>
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia ts">
        <img src="../../../assets/typescript.webp" alt="" />
      </div>
      <p class="texto--tecnologia">Typescript</p>
    </div>
  </a>
  <a href="" target="_blank">
    <div class="container--texto">
      <div class="certificado">
        <p>Certificado</p>
      </div>
      <div class="tecnologia git">
        <img src="../../../assets/git.webp" alt="" />
      </div>
      <p class="texto--tecnologia">Git</p>
    </div>
  </a>
</div>
