<section class="container--sobremi" id="sobremi">
  <div class="divider">
    <h4 class="titulo--section">Sobre mi</h4>
  </div>
  <p class="texto">Soy desarrollador web Front-end especializado en Angular con experiencia en tecnologías como HTML5, CSS, Javascript y Typescript. Actualmente estoy estudiando la Tecnicatura en Analista de Sistemas Informáticos en la ciudad Santa Fe. Además, tengo conocimientos en herramientas de control de versiones como GIT y Github, así como en herramientas de desarrollo front-end como NPM, Scss y Bootstrap. Estoy comprometido a seguir aprendiendo y creciendo en mi carrera profesional como programador.
  </p>
  <p class="texto">Las tecnologias que domino son:</p>
  <app-tecnologias></app-tecnologias>
</section>
