<div class="container--sobremi" id="sobremi">
  <div class="divider">
    <h4 class="titulo--section">Sobre mi</h4>
  </div>
  <p class="texto">Desarrollador web Front-end especializado en Angular. Actualmente estudio la tecnicatura en analista de sistemas informáticos . Cuento con conocimientos de HTML5, CSS, Javascript y Typescript. Tengo experiencia en herramientas de control de versiones como GIT y Github y herramientas de desarrollo front-end como NPM, Scss y Bootstrap.</p>
  <p class="texto">Las tecnologias que domino son:</p>
  <app-tecnologias></app-tecnologias>
</div>
