.container-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35vh 0px;
    gap: 12px;
  }
  
  h1 {
    font-size: 50px;
    //padding: 0.5rem 0rem;
    color: #ffff;
   // text-shadow: 0 0 8px #171738;
  }
  
  p {
    font-size: 36px;
    // padding: 0.5rem 0rem;
    text-align: center;
    color: #ffff;
    //text-shadow: 0 0 8px #171738;
  }
  
  .btn {
    font-weight: 400;
    position: relative;
    margin-top: 1rem;
    padding: 1rem 22px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #243145;
    border-radius: 10px;
    color: #ffff;
    font-size: 18px;
  
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12);
  }
  
  .btn:hover {
    text-decoration: underline;
    background-color: #1a2331;
  }